.list--link {
  text-decoration: none;
  margin: 1vh 1vw;
}

.card {
  overflow: hidden;
}

.ui.card>.content {
  overflow: hidden;
}

@media only screen and (min-width:320px) and (max-device-width : 480px)  {
  .root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
  }
  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .card {
    top: 60px;
    width: 100%;
  }
  .luvimg {
    width: 35%;
    align-self: center;
  }
  .ui.card>.content {
    overflow: auto;
  }
}

@media only screen and (min-width : 321px) {
  .root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
  }
  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .ui.card {
    top: 60px;
    width: 100%;
  }
  .luvimg {
    width: 35%;
    align-self: center;
  }
  .ui.card>.content {
    overflow: auto;
  }
}

@media only screen and (min-width:375px), (max-width:375px)  {
  .root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ui.card {
    top: 65px;
    width: 100%;
  }
  .luvimg {
    width: 35%;
    align-self: center;
  }
  .ui.card>.content {
    overflow: auto;
  }
}

@media only screen and (min-width:414px), (max-width:414px)  {
  .root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
  }
  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .card {
    top: 60px;
    width: 100%;
  }
  .luvimg {
    width: 35%;
    align-self: center;
  }
  .ui.card>.content {
    overflow: auto;
  }
}

@media only screen and (min-width:480px)  {
  .root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
  }
  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .card {
    top: 60px;
    width: 100%;
  }
  .luvimg {
    width: 35%;
    align-self: center;
  }
  .ui.card>.content {
    overflow: auto;
  }
}

/* Samsung S6 */
@media (min-width:600px)  {
  .root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
  }
  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .card {
    top: 60px;
    width: 100%;
  }
  .luvimg {
    width: 35%;
    align-self: center;
  }
  .ui.card>.content {
    overflow: auto;
  }
}
@media only screen and (min-width:801px)  {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
  }

  .main {
    position: fixed;
    width: 100%;
    top: 7.5%;
    height: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card {
    max-height: 100%;
  }
  .ui.card {
    min-width: 25%;
    max-width: 75%;
    width: auto;
  }
  .luvimg {
    width: 35%;
    align-self: center;
  }
  .ui.card>.content {
    overflow: auto;
  }
}

@media (min-width:1025px) {

}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
