.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.card {
  top: 60px;
  width: 100%;
  overflow: hidden;
}

.luvimg {
  width: 35%;
  align-self: center;
}
.ui.card>.content {
  overflow: hidden;
}

.list--link {
  text-decoration: none;
  margin: 1vh 1vw;
}

.ui.card {
  top: 60px;
  width: 100%;
}

@media only screen and (min-width:768px)  {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
  }

  .main {
    position: fixed;
    width: 100%;
    top: 7.5%;
    height: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card {
    top: 0;
    width: 290px;
    max-width: 100%;
    overflow: hidden;
  }

  .ui.card {
    top: 0;
    width: 290px;
    max-width: 100%;
    overflow: hidden;
  }

  .luvimg {
    width: 35%;
    align-self: center;
  }

  .ui.card>.content {
    overflow: auto;
  }
}
