.luvs--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.luvs {
  height: 88.5vh;
}

@media only screen and (min-width:768px)  {
  .luvs {
    min-height: 20%;
    max-height: 80%;
    height: auto;
    overflow: auto;
  }
}
