.menu--mobile__container {
  display: none;
}
.menu--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
}

.menu--button {
  z-index: -101;
  flex: 1;
  width: 7.5vh;
  height: 7.5vh;
  margin: 1vh 1vw;
  max-height: 7.5vh;
  max-width: 7.5vh;
  align-items: center;
  justify-content: center;
}

.menu--button > i {
  position: relative;
  z-index: -100;
  flex: 1;
}

@media only screen and (min-device-width : 640px) and (max-device-width : 640px) and (max-device-height : 640px) and (orientation : landscape) {
  .menu--container {
    flex: 1;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 20vh;
    height: 20vh;
    left: 0;
    text-align: center;
    padding: 10px;
  }
  .menu--button {
    width: 50%;
    height: 10vh;
  }
  .menu--button > .icon {
    right: 5px;
    bottom: 4px;
  }
}

@media only screen and (min-device-width : 736px) and (max-device-width : 736px) and (max-device-height : 736px) and (orientation : landscape) {
  .menu--container {
    flex: 1;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: flex-start;
    height: 85vh;
    width: 15vh;
    left: 0;
  }
  .menu--button {
    padding: 0;
    max-height: 15vh;
    max-width: 15vh;
    height: 15vh;
    width: 15vh;
  }
}

@media only screen and (min-device-width : 568px) and (max-device-width : 568px) and (max-device-height : 568px) and (orientation : landscape) {
  .menu--container {
    flex: 1;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: flex-start;
    height: 80vh;
    width: 15vh;
    left: 0;
  }
  .menu--button {
    padding: 0;
    max-height: 15vh;
    max-width: 15vh;
    height: 15vh;
    width: 15vh;
  }
}

@media only screen and (min-device-width : 375px) and (min-device-height : 375px) and (max-device-height : 375px) and (orientation : landscape) {

}

@media (max-width:480px)  {
  .menu--mobile__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu--button {
    z-index: -101;
    flex: 1;
    width: 7.5vh;
    height: 7.5vh;
    margin: 1vh 1vw;
    max-height: 7.5vh;
    max-width: 7.5vh;
    align-items: center;
    justify-content: center;
  }

  .menu--button > i {
    position: relative;
    z-index: -100;
    flex: 1;
  }
}
@media only screen and (min-width:480px)  {}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) {}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


@media only screen  and (max-device-width : 420px) and (max-width: 420px) {
  .menu--container {
    bottom: 2.5vh;
  }
}

@media only screen  and (max-device-width : 760px) and (max-width: 760px) {
  .menu--container {
    bottom: 0;
  }
  .menu--button {
    padding: 0;
  }
}

@media only screen  and (min-width : 768px) {
  .menu--button > i {
    font-size: 2em;
    padding-top: 0.5rem;
  }
}
