.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    z-index: -99;
    border: none;
}

.menu--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 10vh;
  bottom: 7.5vh;
  flex: 1;
}

.menu--button {
  z-index: -101;
  flex: 1;
  width: 7.5vh;
  height: 7.5vh;
  margin: 1vh 1vw;
  max-height: 7.5vh;
  max-width: 7.5vh;
  align-items: center;
  justify-content: center;
}

.menu--button > i {
  position: relative;
  z-index: -100;
  flex: 1;
}

@media only screen and (min-device-width : 640px) and (max-device-width : 640px) and (max-device-height : 640px) and (orientation : landscape) {
  .menu--container {
    flex: 1;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: flex-start;
    height: 82.5vh;
    width: 15vh;
    left: 0;
  }
  .menu--button {
    padding: 0;
    max-height: 15vh;
    max-width: 15vh;
    height: 15vh;
    width: 15vh;
  }
}

@media only screen and (min-device-width : 736px) and (max-device-width : 736px) and (max-device-height : 736px) and (orientation : landscape) {
  .menu--container {
    flex: 1;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: flex-start;
    height: 85vh;
    width: 15vh;
    left: 0;
  }
  .menu--button {
    padding: 0;
    max-height: 15vh;
    max-width: 15vh;
    height: 15vh;
    width: 15vh;
  }
}

@media only screen and (min-device-width : 568px) and (max-device-width : 568px) and (max-device-height : 568px) and (orientation : landscape) {
  .menu--container {
    flex: 1;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: flex-start;
    height: 80vh;
    width: 15vh;
    left: 0;
  }
  .menu--button {
    padding: 0;
    max-height: 15vh;
    max-width: 15vh;
    height: 15vh;
    width: 15vh;
  }
}

@media only screen and (min-device-width : 375px) and (min-device-height : 375px) and (max-device-height : 375px) and (orientation : landscape) {
  .menu--container {
    flex: 1;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: flex-start;
    height: 82.5vh;
    width: 15vh;
    left: 0;
  }
  .menu--button {
    padding: 0;
    max-height: 15vh;
    max-width: 15vh;
    height: 15vh;
    width: 15vh;
  }
}

@media only screen  and (max-device-width : 420px) and (max-width: 420px) {
  .menu--container {
    bottom: 2.5vh;
  }
}

@media only screen  and (max-device-width : 760px) and (max-width: 760px) {
  .menu--container {
    bottom: 0;
  }
  .menu--button {
    padding: 0;
  }
}

@media only screen  and (min-width : 768px) {
  .menu--button > i {
    font-size: 2em;
    padding-top: 0.5rem;
  }
}
